@import "../../../../scss/variables";
@import "../../../../scss/functions";

:host {
  display: block;
  padding-top: rem(90);
}

.subtitle {
  color: map-get($theme, color-primary);
  text-transform: uppercase;
  border-bottom: 1px solid map-get($theme, color-secondary);
  padding-bottom: rem(10);
  font-size: rem(20);
  font-weight: 600;
  margin: rem(50) 0 rem(10) 0;
}

