<div class="article">
  <ng-container *ngIf="(article$ | async); then display else loading"></ng-container>

  <ng-template #display>
    <div class="container">
      <h1 class="article__name">{{ (article$ | async)?.header }}</h1>

      <div *ngIf="(article$ | async)?.img" class="article__image">
        <img [src]="'http://mr-g.cz/back/www' + (article$ | async)?.img.normal" [alt]="(article$ | async)?.header">
      </div>

      <div class="article__text" [innerHTML]="(article$ | async)?.text"></div>
      <a *ngIf="(article$ | async)?.return" [routerLink]="'/' + (article$ | async)?.category" mcrai-button="primary">
        zpět
      </a>
    </div>
  </ng-template>

  <ng-template #loading>
    <app-loader></app-loader>
  </ng-template>
</div>

<app-footer></app-footer>
