<ng-container *ngIf="articles; then list else empty"></ng-container>

<ng-template #list>
  <div class="container">
    <div class="article" *ngFor="let article of articles | async">
      <div class="article__text">
        <h2 class="article__title">
          <a [routerLink]="article.id" class="article__link">{{ article.header }}</a>
        </h2>
        <p class="article__paragraph">{{ article.text }}</p>
      </div>
      <a *ngIf="article.img" [routerLink]="article.id" class="article__image">
        <img [src]="'http://mr-g.cz/back/www' + article.img.thumb" alt="">
      </a>
    </div>
  </div>
</ng-template>

<ng-template #empty>
  <app-loader></app-loader>
</ng-template>
