@import "../../../../scss/variables";
@import "../../../../scss/functions";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: map-get($theme, color-secondary);
  padding: rem(20) 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 430px;
  z-index: 1;
}

.nav-list {
  list-style: none;
  text-align: center;
  flex: 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-list__item {
  margin: rem(6) 0;
}

.nav-list__link {
  text-transform: uppercase;
  text-decoration: none;
  color: map-get($theme, text-secondary);
  transition: color 200ms;
  padding: rem(5) 0;
  font-size: rem(22);
  font-weight: 400;

  &:hover, &.nav-list__link--active {
    color: map-get($theme, text-primary);
  }
}

.nav-list--inline {
  flex-direction: row;
  flex: 1;

  .nav-list__item {
    &:first-child:after {
      content: '/';
      color: map-get($theme, text-secondary);
      line-height: rem(20);
      vertical-align: middle;
      font-size: rem(14);
      padding-right: rem(10);
    }
  }

  .nav-list__link {
    font-size: rem(14);
    line-height: rem(20);
    letter-spacing: rem(2);
    vertical-align: middle;
  }
}
