<app-tiles>
  <app-tile class="tile tile--logo" color="alternative">
    <img class="tile__image" src="assets/img/logo-home.png" alt="">
  </app-tile>
  <app-tile class="tile">
    <img class="tile__image" src="assets/img/home1.jpg" alt="">
  </app-tile>
  <app-tile class="tile tile--empty"></app-tile>

  <app-tile class="tile">
    <img class="tile__image" src="assets/img/home2.jpg" alt="">
  </app-tile>
  <app-tile class="tile tile--empty"></app-tile>
  <app-tile class="tile">
    <img class="tile__image" src="assets/img/home3.jpg" alt="">
  </app-tile>

  <app-tile class="tile tile--card" color="primary">
    <mcrai-icon class="tile__icon" color="secondary">video</mcrai-icon>
    <h2 class="tile__headline">Videoprezentace</h2>
    <p class="tile__text">Mrkněte na naše nově natočené video</p>
    <button class="tile__button" (click)="openVideoModal()" mcrai-button="neutral">Více zde!</button>
  </app-tile>
  <app-tile class="tile">
    <img class="tile__image" src="assets/img/home4.jpg" alt="">
  </app-tile>
  <app-tile class="tile tile--card" color="secondary">
    <mcrai-icon class="tile__icon" color="alternative">card</mcrai-icon>
    <h2 class="tile__headline">Nový jídelní lístek</h2>
    <p class="tile__text">Připravili jsme pro Vás nový jídelní lístek!</p>
    <a class="tile__button" routerLink="/menu-karta" mcrai-button="neutral">Více zde!</a>
  </app-tile>
</app-tiles>

<app-map></app-map>

<app-footer></app-footer>
