<ng-container *ngIf="columns === 2">
  <ul class="list list--col-2">
    <li class="list__item" *ngFor="let item of items">
      <div class="list__cell">{{ item.name }}</div>
      <div class="list__cell">{{ item.price }},-</div>
    </li>
  </ul>
</ng-container>

<ng-container *ngIf="columns === 3">
  <ul class="list list--col-3">
    <li class="list__item" *ngFor="let item of items">
      <div class="list__cell">
        {{ item.name }}
        <p class="list__normal">{{ item.title }}</p>
      </div>
      <div class="list__cell">{{ item.size }}</div>
      <div class="list__cell">{{ item.price }},-</div>
    </li>
  </ul>
</ng-container>

<ng-container *ngIf="columns === 4">
  <ul class="list list--col-4">
    <li class="list__item">
      <div class="list__cell"></div>
      <div class="list__cell"></div>
      <div class="list__cell">malá</div>
      <div class="list__cell">velká</div>
    </li>
    <li class="list__item" *ngFor="let item of items">
      <div class="list__cell">
        <var class="list__number">{{ item.number }}</var>
      </div>
      <div class="list__cell">
        {{ item.name }}
        <p class="list__normal">{{ item.title }}</p>
      </div>
      <div class="list__cell">{{ item.price_small }},-</div>
      <div class="list__cell">{{ item.price }},-</div>
    </li>
  </ul>
</ng-container>
