@import "../../../../../scss/variables";
@import "../../../../../scss/functions";

:host {
  display: block;
  width: 100%;
  height: rem(400);
  margin-top: rem(30);
  position: relative;

  @media (min-width: $breakpoint_m) {
    margin-top: rem(95);
  }
}

.map__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: transparent url('../../../../../assets/img/map-overlay.png') no-repeat top center;
}

.map__line {
  font-size: rem(18);
  font-weight: 600;
  display: block;
  text-align: center;
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  margin: auto;
}

.map__line--tel {
  top: rem(70);
  text-transform: uppercase;
  font-size: rem(40);
  color: map-get($theme, primary-color);
}

.map__line--email {
  top: rem(120);
  text-transform: uppercase;
  font-size: rem(40);
  color: map-get($theme, secondary-color);
}

.map__line--address-1 {
  top: rem(240)
}

.map__line--address-2 {
  top: rem(270);
}

.map__icon {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  top: rem(190);
  margin: auto;
  font-size: rem(26);
  width: rem(26);
}

.map__iframe {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
