@import "../../../../scss/variables";
@import "../../../../scss/functions";

:host {
  display: block;
  padding-top: rem(90);
}

.reservation {
  max-width: rem(550);
  margin: rem(30) auto;
  display: flex;
  flex-flow: row wrap;
}

:host /deep/ .mcrai-input__placeholder {
  color: map-get($theme, text-primary);
}

:host /deep/ .mcrai-input__underline--wrapper {
  background-color: map-get($theme, color-primary);
}

.reservation__row {
  flex: 1 1 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.reservation__input {
  flex: 1;
}

.reservation__button {
  margin-top: rem(40);
  flex: 1 1 100%;
  color: #fff;
}

.reservation__disclaimer {
  margin: rem(20) 0;
}
