<app-headline
  [name]="headline"
  [bg]="bg"></app-headline>


<div class="reservation">
  <div class="reservation__row">
    <mcrai-input
      class="reservation__input"
      [control]="reservation.controls.name"
      placeholder="Jméno a příjmení"
      errors="Vaše jméno a příjmení"
      type="text"
    ></mcrai-input>
  </div>
  <div class="reservation__row">
    <mcrai-input
      class="reservation__input"
      [control]="reservation.controls.email"
      placeholder="E-mail"
      errors="Vaše e-mailová adresa"
      type="text"
    ></mcrai-input>
  </div>
  <div class="reservation__row">
    <mcrai-input
      class="reservation__input"
      [control]="reservation.controls.tel"
      placeholder="Telefonní číslo"
      errors="Vaše telefonní číslo"
      type="text"
    ></mcrai-input>
  </div>
  <div class="reservation__row">
    <mcrai-input
      class="reservation__input"
      [control]="reservation.controls.date"
      placeholder="Datum"
      errors="Datum rezervace"
      type="text"
    ></mcrai-input>
    <mcrai-input
      class="reservation__input"
      [control]="reservation.controls.time_from"
      placeholder="Od"
      errors="Čas začátku rezervace"
      type="text"
    ></mcrai-input>
    <mcrai-input
      class="reservation__input"
      [control]="reservation.controls.time_to"
      placeholder="Do"
      errors="Datum konce rezervace"
      type="text"
    ></mcrai-input>
  </div>
  <div class="reservation__row">
    <mcrai-input
      class="reservation__input"
      [control]="reservation.controls.count"
      placeholder="Počet lidí"
      errors="Počet lidí pro které je rezervace určena"
      type="text"
    ></mcrai-input>
  </div>
  <div class="reservation__row">
    <mcrai-input
      class="reservation__input"
      [control]="reservation.controls.note"
      placeholder="Poznámka (volitelné)"
      type="text"
    ></mcrai-input>
  </div>
  <div class="reservation__row">
    <button
      class="reservation__button"
      (click)="sendReservation()"
      [disabled]="reservation.invalid" mcrai-button="positive">Rezervovat</button>
  </div>
</div>
