<app-headline
  [name]="headline"
  [bg]="bg"></app-headline>

<div class="reservation">
  <div class="reservation__row">
    <mcrai-input
      class="reservation__input"
      [control]="reservation.controls.name"
      placeholder="Jméno a příjmení"
      error="Vaše jméno a příjmení"
      text
    ></mcrai-input>
  </div>
  <div class="reservation__row">
    <mcrai-input
      class="reservation__input"
      [control]="reservation.controls.email"
      placeholder="E-mail"
      error="Vaše e-mailová adresa"
      text
    ></mcrai-input>
  </div>
  <div class="reservation__row">
    <mcrai-input
      class="reservation__input"
      [control]="reservation.controls.tel"
      placeholder="Telefonní číslo"
      error="Vaše telefonní číslo"
      text
    ></mcrai-input>
  </div>
  <div class="reservation__row">
    <mcrai-input
      class="reservation__input"
      [control]="reservation.controls.date"
      placeholder="Datum"
      error="Datum rezervace"
      text
    ></mcrai-input>
    <mcrai-input
      class="reservation__input"
      [control]="reservation.controls.time_from"
      placeholder="Od"
      error="Čas konce rezervace"
      text
    ></mcrai-input>
    <mcrai-input
      class="reservation__input"
      [control]="reservation.controls.time_to"
      placeholder="Do"
      error="Datum začátku rezervace"
      text
    ></mcrai-input>
  </div>
  <div class="reservation__row">
    <mcrai-input
      class="reservation__input"
      [control]="reservation.controls.count"
      placeholder="Počet lidí"
      error="Počet lidí pro které je rezervace určena"
      text
    ></mcrai-input>
  </div>
  <div class="reservation__row">
    <mcrai-input
      class="reservation__input"
      [control]="reservation.controls.note"
      placeholder="Poznámka (volitelné)"
      text
    ></mcrai-input>
  </div>
  <div class="reservation__row">
    <button
      class="reservation__button"
      color="secondary"
      (click)="sendReservation($event, reservation.value)"
      [disabled]="reservation.invalid" mcrai-flat-button>Rezervovat</button>
  </div>
</div>
