<div class="footer container">
  <div class="footer__col footer__col--align-left">
    <span class="footer__rights">Všechna práva vyhrazena</span>
  </div>
  <div class="footer__col">
    <span class="footer__supporting">Podporujeme:</span>
    <img src="/assets/img/cat-shelter.png" alt="1. Kočičí útulek na Vysočině">
  </div>
  <div class="footer__col footer__col--align-right">
    <span class="footer__tel">
      tel.: <a class="footer__link" href="tel:+420732932810">+420 732 932 810</a>
    </span>
  </div>
</div>
