<app-headline
  [name]="headline"
  [bg]="bg"></app-headline>

<form class="reservation" (submit)="sendReservation($event, reservation.value)" [formGroup]="reservation">
  <div class="reservation__row">
    <mcrai-input-container>
      <mcrai-input>
        <input
          class="reservation__input"
          mcraiInput
          name="name"
          type="text"
          placeholder="Jméno a příjmení"
          formControlName="name"
          required>
      </mcrai-input>
      <mcrai-input-error
        *ngIf="reservation.get('name').invalid && reservation.get('name').touched">Vaše jméno a příjmení</mcrai-input-error>
    </mcrai-input-container>
  </div>
  <div class="reservation__row">
    <mcrai-input-container>
      <mcrai-input>
        <input
          class="reservation__input"
          mcraiInput
          name="email"
          type="email"
          placeholder="E-mail"
          formControlName="email"
          required>
      </mcrai-input>
      <mcrai-input-error
        *ngIf="reservation.get('email').invalid && reservation.get('email').touched">Vaše e-mailová adresa</mcrai-input-error>
    </mcrai-input-container>
  </div>
  <div class="reservation__row">
    <mcrai-input-container>
      <mcrai-input>
        <input
          class="reservation__input"
          mcraiInput
          name="tel"
          type="text"
          placeholder="Telefonní číslo"
          formControlName="tel"
          required>
      </mcrai-input>
      <mcrai-input-error
        *ngIf="reservation.get('tel').invalid && reservation.get('tel').touched">Vaše telefonní číslo</mcrai-input-error>
    </mcrai-input-container>
  </div>
  <div class="reservation__row">
    <mcrai-input-container>
      <mcrai-input>
        <input
          class="reservation__input"
          mcraiInput
          name="date"
          type="text"
          placeholder="Datum"
          formControlName="date"
          required>
      </mcrai-input>
      <mcrai-input-error
        *ngIf="reservation.get('date').invalid && reservation.get('date').touched">Datum začátku rezervace</mcrai-input-error>
    </mcrai-input-container>
    <mcrai-input-container>
      <mcrai-input>
        <input
          class="reservation__input"
          mcraiInput
          name="time_from"
          type="text"
          placeholder="Od"
          formControlName="time_from"
          required>
      </mcrai-input>
      <mcrai-input-error
        *ngIf="reservation.get('time_from').invalid && reservation.get('time_from').touched">Čas začátku rezervace</mcrai-input-error>
    </mcrai-input-container>
    <mcrai-input-container>
      <mcrai-input>
        <input
          class="reservation__input"
          mcraiInput
          name="time_to"
          type="text"
          placeholder="Do"
          formControlName="time_to"
          required>
      </mcrai-input>
      <mcrai-input-error
        *ngIf="reservation.get('time_to').invalid && reservation.get('time_to').touched">Čas konce rezervace</mcrai-input-error>
    </mcrai-input-container>
  </div>
  <div class="reservation__row">
    <mcrai-input-container>
      <mcrai-input>
        <input
          class="reservation__input"
          mcraiInput
          name="count"
          type="text"
          placeholder="Počet lidí"
          formControlName="count"
          required>
      </mcrai-input>
      <mcrai-input-error
        *ngIf="reservation.get('count').invalid && reservation.get('count').touched">Počet lidí pro které je rezervace určena</mcrai-input-error>
    </mcrai-input-container>
  </div>
  <div class="reservation__row">
    <mcrai-input-container>
      <mcrai-input>
        <textarea
          class="reservation__input"
          mcraiInput
          name="note"
          placeholder="Poznámka (volitelné)"
          formControlName="note"
          required></textarea>
      </mcrai-input>
    </mcrai-input-container>
  </div>
  <div class="reservation__row">
    <button
      class="reservation__button"
      color="secondary"
      [disabled]="reservation.invalid" mcrai-flat-button>Rezervovat</button>
  </div>
</form>
