<app-headline
  [name]="headline"
  [bg]="bg"></app-headline>

<div class="reservation">
  <div class="reservation__row">
    <mcrai-input-container>
      <mcrai-input>
        <input
          class="reservation__input"
          mcraiInput
          type="text"
          placeholder="Jméno a příjmení"
          ngModel
          #name="ngModel"
          required>
      </mcrai-input>
      <mcrai-input-error *ngIf="name.invalid && name.dirty">Zadejte prosím svoje jméno a příjmení</mcrai-input-error>
    </mcrai-input-container>
  </div>
  <div class="reservation__row">
    <mcrai-input-container>
      <mcrai-input>
        <input
          class="reservation__input"
          mcraiInput
          type="email"
          placeholder="E-mail"
          ngModel
          #email="ngModel"
          required>
      </mcrai-input>
      <mcrai-input-error *ngIf="email.invalid && email.dirty">Zadejte prosím svůj e-mail</mcrai-input-error>
    </mcrai-input-container>
  </div>
  <div class="reservation__row">
    <mcrai-input-container>
      <mcrai-input>
        <input
          class="reservation__input"
          mcraiInput
          type="tel"
          placeholder="Telefonní číslo"
          ngModel
          #phone="ngModel"
          required>
      </mcrai-input>
      <mcrai-input-error *ngIf="phone.invalid && phone.dirty">Zadejte prosím svoje telefonní číslo</mcrai-input-error>
    </mcrai-input-container>
  </div>
  <div class="reservation__row">
    <mcrai-input-container>
      <mcrai-input>
        <input
          class="reservation__input"
          mcraiInput
          type="text"
          placeholder="Datum"
          ngModel
          #date="ngModel"
          required>
      </mcrai-input>
      <mcrai-input-error *ngIf="date.invalid && date.dirty">Nezadali jste jméno</mcrai-input-error>
    </mcrai-input-container>
    <mcrai-input-container>
      <mcrai-input>
        <input
          class="reservation__input"
          mcraiInput
          type="text"
          placeholder="Od"
          ngModel
          #time_from="ngModel"
          required>
      </mcrai-input>
      <mcrai-input-error *ngIf="time_from.invalid && time_from.dirty">Nezadali jste jméno</mcrai-input-error>
    </mcrai-input-container>
    <mcrai-input-container>
      <mcrai-input>
        <input
          class="reservation__input"
          mcraiInput type="text" placeholder="Do"
          ngModel
          #time_to="ngModel"
          required>
      </mcrai-input>
      <mcrai-input-error *ngIf="time_to.invalid && time_to.dirty">Nezadali jste jméno</mcrai-input-error>
    </mcrai-input-container>
  </div>
  <div class="reservation__row">
    <mcrai-input-container>
      <mcrai-input>
        <input
          class="reservation__input"
          mcraiInput type="text" placeholder="Počet lidí"
          ngModel
          #count="ngModel"
          required>
      </mcrai-input>
      <mcrai-input-error *ngIf="count.invalid && count.dirty">Nezadali jste jméno</mcrai-input-error>
    </mcrai-input-container>
  </div>
  <div class="reservation__row">
    <mcrai-input-container>
      <mcrai-input>
        <textarea
          class="reservation__input"
          mcraiInput
          type="text"
          placeholder="Poznámka (volitelné)"
          ngModel
          #note="ngModel"></textarea>
      </mcrai-input>
    </mcrai-input-container>
  </div>
  <div class="reservation__row">
    <button class="reservation__button" color="secondary" mcrai-flat-button>Rezervovat</button>
  </div>
</div>
