@import "../../../../scss/variables";
@import "../../../../scss/functions";

:host {
  display: block;
  padding-top: rem(90);
}

.reservation {
  max-width: rem(550);
  margin: rem(30) auto;
  display: flex;
  flex-flow: row wrap;
}

.reservation__row {
  flex: 1 1 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.reservation__input {
  flex: 1;
  margin: 0 rem(10);
}

.reservation__button {
  margin-top: rem(40);
  flex: 1 1 100%;
}
