@import "../../../../scss/variables";
@import "../../../../scss/functions";

:host {
    display: block;
    padding-top: rem(90);
}

.container {
    padding-bottom: rem(50);
}

h1 {
    font-size: rem(42);
    line-height: 1.1;
    font-weight: 600;
    text-align: center;
    padding: rem(60) 0 rem(20) 0;

    .small {
        font-size: rem(36);
    }
}

h2 {
    font-size: rem(32);
    line-height: 1.1;
    padding: rem(40) 0 rem(15) 0;

    .small {
        font-size: rem(26);
    }
}
