<div class="container">
    <h1>Rozvoz</h1>

    <h2>
        1. PÁSMO - <span class="small">Náměšť nad Oslavou</span>
    </h2>
    <p>
        nad 200,- doprava zdarma nebo 29,-
    </p>

    <h2>
        2. PÁSMO - <span class="small">Vícenice, Sedlec, Naloučany, Ocmanice, Jinošov, Kralice na Oslavou, Březník</span>
    </h2>
    <p>
        nad 400,- doprava zdarma nebo 39,-
    </p>

    <h2>
        3. PÁSMO - <span class="small">Rapotice, Sudice, Kramolín, Studenec, Koněšín, Čikov, Kuroslepy, Hartvíkovice, Jasenice, Pucov</span> 
    </h2>
    <p>
        nad 600,- doprava zdarma nebo 69,-
    </p>

    <br>
    <p>
        Ostatní města dle domluvy s personálem.
    </p>
</div>

<app-footer></app-footer>