@import "scss/variables";
@import "scss/functions";
@import "scss/reset";

@font-face {
  font-family: 'Karben';
  font-style: normal;
  font-weight: 600;
  src: local('Karben'), url('assets/fonts/KarbenBold.otf') format('opentype');
}

@font-face {
  font-family: 'Karben';
  font-style: italic;
  font-weight: 600;
  src: local('Karben'), url('assets/fonts/KarbenBoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Karben';
  font-style: normal;
  font-weight: 400;
  src: local('Karben'), url('assets/fonts/KarbenLight.otf') format('opentype');
}

@font-face {
  font-family: 'Karben';
  font-style: italic;
  font-weight: 400;
  src: local('Karben'), url('assets/fonts/KarbenLightItalic.otf') format('opentype');
}


a[mcrai-flat-button],
button[mcrai-flat-button] {
  letter-spacing: 1px;
  line-height: 1;
}

.modal {
  padding: 0 !important;
}

.modal__header {
  padding: 0 !important;
  margin: 0 !important;
}

.modal__content {
  display: flex !important;
  padding: 0 !important;
  margin: 0 !important;
}

.modal__footer {
  display: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.mcrai-input-text__focused {
  color: map-get($theme, primary-text) !important;
}

.outside .modal__btn-close {
  top: 0 !important;
  right: -45px !important;
}
