@import "scss/variables";
@import "scss/functions";
@import "scss/reset";
@import "~@mcrai/ui/src/scss/theme";

@font-face {
  font-family: 'Karben';
  font-style: normal;
  font-weight: 600;
  src: local('Karben'), url('assets/fonts/KarbenBold.otf') format('opentype');
}

@font-face {
  font-family: 'Karben';
  font-style: italic;
  font-weight: 600;
  src: local('Karben'), url('assets/fonts/KarbenBoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Karben';
  font-style: normal;
  font-weight: 400;
  src: local('Karben'), url('assets/fonts/KarbenLight.otf') format('opentype');
}

@font-face {
  font-family: 'Karben';
  font-style: italic;
  font-weight: 400;
  src: local('Karben'), url('assets/fonts/KarbenLightItalic.otf') format('opentype');
}

@include create-theme($theme);
