* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { }

html {
  font-size: #{$base-font-size}px;
}

body {
  font-size: rem(16);
  line-height: 1.5;
  font-family: $base-font-family;
  font-weight: 300;
  background-color: map-get($theme, background-primary);
  color: map-get($theme, text-primary);
}

.container {
  margin: 0 rem(10);
  width: 100%;

  @media (min-width: $page-width) {
    margin: 0 auto;
    max-width: $page-width;
  }
}

