$base-font-size:   10;
$base-font-family: 'Karben', sans-serif;
$page-width:       1000px;

$breakpoint-xxs:    480px;
$breakpoint-xs:     640px;
$breakpoint-s:      768px;
$breakpoint-m:      840px;
$breakpoint-l:      960px;
$breakpoint-xl:     1280px;
$breakpoint-xxl:    1366px;

$theme: (
  primary-text:      rgb(0, 0, 0),
  secondary-text:    rgb(255, 255, 255),
  alternative-text:  rgb(255, 255, 255),
  call-text:         rgb(201, 25, 18),
  button-text:       rgb(255, 255, 255),

  primary-font-family:    ('Karben', sans-serif),
  secondary-font-family:  ('Karben', sans-serif),

  primary-color:     rgb(194, 3, 8),
  secondary-color:   rgb(0, 150, 64),
  alternative-color: rgb(255, 255, 255),

  input-background:  rgb(255, 255, 255),
  input-outline:     rgb(255, 255, 255),

  success-color:     rgb(11, 204, 116),
  error-color:       rgb(201, 25, 18),
  info-color:        rgb(69, 132, 217),
  warning-color:     rgb(222, 187, 39),

  page-color:        rgb(255, 255, 255),
  block-color:       rgb(255, 255, 255),
  header-color:      rgb(255, 255, 255),
  footer-color:      rgb(226, 226, 226),
  navigation-color:  rgb(0, 150, 64)
);
