<ng-container *ngIf="article; then display else loading"></ng-container>

<ng-template #display>
  <div class="article container">
    <h1 class="article__name">{{ article.header }}</h1>

    <div *ngIf="article.img" class="article__image">
      <img [src]="'http://mr-g.cz/back/www' + article.img.normal" [alt]="article.header">
    </div>

    <div class="article__text" [innerHTML]="article.text"></div>
    <a *ngIf="article.return"  [routerLink]="'/' + article.category" mcrai-flat-button>zpět</a>
  </div>
</ng-template>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>

<app-footer></app-footer>
